* text=auto eol=lf

# use LF 
*.py text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.ini text eol=lf

# do not touch binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary